.seccion-form{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 2rem;
    grid-template-areas: ". . form form form form . .";

    padding: 4rem 0;
}

.bx-form{
    padding: 2rem;
    background-color: #ebebeb;
    grid-area: form;
}

.imgCargando{
    display: none;
}

.imgEnviado{
    display: none;
}